<h1 class="text-center">Get pre-approved!</h1>

<div class="front-page-search-box mar-top50">
	<%= simple_form_for @guest do |g| %>

	  <%= g.error_notification %>

	  	<div class="row">
	  		<div class="col-sm-4 col-sm-offset-2
	  					col-xs-12 col-xs-offset-0">
	  			<h1 class="preapproval-field">Yearly Income</h1>
	  		</div>
	  		<div class="col-sm-4 col-sm-offset-0
	  					col-xs-6 col-xs-offset-3">
		  		<%= g.input_field :income, label: false %>
		  	</div>
		</div>

		<div class="row">
	  		<div class="col-sm-4 col-sm-offset-2
	  					col-xs-12 col-xs-offset-0">
	  			<h1 class="preapproval-field">Monthly Debt</h1>
	  		</div>
	  		<div class="col-sm-4 col-sm-offset-0
	  					col-xs-6 col-xs-offset-3">
		  		<%= g.input_field :debt, label: false %>
		  	</div>
		</div>

		<div class="row">
	  		<div class="col-sm-4 col-sm-offset-2
	  					col-xs-12 col-xs-offset-0">
	  			<h1 class="preapproval-field">Down Payment</h1>
	  		</div>
	  		<div class="col-sm-4 col-sm-offset-0
	  					col-xs-6 col-xs-offset-3">
		  		<%= g.input_field :down_payment, label: false %>
		  	</div>
		</div>

	  <div class="form-actions mar-top50 text-center">
	    <%= g.button :submit, "Submit", class: "btn-amoeba" %>
	  </div>
	<% end %>
</div>

<% if @guest.income.present? && @guest.debt.present? && @guest.down_payment.present? %>
	<%= render 'guests/partials/preapproval_results' %>
<% end %>