<div class="your-number-info">
	<p class="text-center">Based on the information you provided, you may be able to afford the monthly payments on a home purchase of:</p>

	<h1><%= number_to_currency(@guest.fha_result, precision: 0) %> <span class="small">with 3.5% down, or </span></h1>
	<h1><%= number_to_currency(@guest.conv_result, precision: 0) %> <span class="small">with 5% down!</span></h1>

	<p>
	<strong><em>This calculator does NOT take into consideration your down payment.</em></strong>
	<em>Have less than 3.5% down?</em> No problem. Your local lender will give you info on 0% down loans to see if you qualify!
	<em>Have more than a 5% down payment?</em> You may be able to afford more! This calculator is based on your income and debts, and so does not reflect the impact of a larger down payment. 
	</p>
	<!--
	<% rb_calculator_old(@guest.income, @guest.debt, @guest.down_payment) %>

	<% if $can_afford_income <= 0 %>
		<h1 class="mar-top20">$0</h1>
		<p style="max-width: 500px;">Since no prequalification calculator can be 100% accurate, we still suggest contacting a lender to discuss your situation personally. They have a variety of loans types to fit many life situations!</p>
		<br>

	<% elsif @guest.military %>

		<h1 class="mar-top20"><%= number_to_currency($can_afford_income, precision: 0) %></h1>
		<p style="max-width: 500px;"><strong>First and foremost, thank you for your service.</strong> If you qualify for a VA loan, a downpayment will NOT be required. This one of the many great aspects of a VA loan! Talk to your matched lender for some of the other great features of a VA loan.</p>
		<br>

	<% elsif @guest.income.to_i < 90001 && @guest.down_payment.to_i < 5001 %>

		<h1 class="mar-top20"><%= number_to_currency($can_afford_income, precision: 0) %></h1>
		<p style="max-width: 500px;">We have calculated your estimated purchase price based on your monthly income only. Based on the information you have provided, you may qualify for a $0 down payment loan option!</p> 
		<br>
		<p><em>Talk with a lender about all of your loan options, including the possiblity of $0 down.</em></p>
		<br>

	<% elsif $your_number == $can_afford_down %>

		<h1 class="mar-top20"><%= number_to_currency($your_number, precision: 0) %></h1>
		<p style="max-width: 500px;">Based on your income you may qualify for <strong><%= number_to_currency($can_afford_income, precision: 0) %></strong> if you could come up with 3.5% - 5% down or more.</p> 
		<p><em>Talk with a lender about loans requiring less than 3.5%.</em></p>

	<% elsif $your_number == $can_afford_income %>

		<h1 class="mar-top20"><%= number_to_currency($your_number, precision: 0) %></h1>
		<p style="max-width: 500px;">Based on your income you may qualify for <strong><%= number_to_currency($can_afford_income, precision: 0) %></strong> if you could come up with 3.5% - 5% down or more.</p> 
		<p><em>Talk with a lender about loans requiring less than 3.5%.</em></p>

		
	<% elsif $your_number == @guest.down_payment.to_i %>

		<h1 class="mar-top20"><%= number_to_currency($your_number, precision: 0) %></h1>
		<p><em>This number is based on your down payment... In order to qualify for a larger mortgage, it may be beneficial to seek an increase in income, or to pay down monthly debts.</em></p>		
		
	<% end %> -->
</div>