<h1>Listing prequals</h1>

<table>
  <thead>
    <tr>
      <th>Guest</th>
      <th>Income</th>
      <th>Debt</th>
      <th>Down payment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prequals.each do |prequal| %>
      <tr>
        <td><%= prequal.guest_id %></td>
        <td><%= prequal.income %></td>
        <td><%= prequal.debt %></td>
        <td><%= prequal.down_payment %></td>
        <td><%= link_to 'Show', prequal %></td>
        <td><%= link_to 'Edit', edit_prequal_path(prequal) %></td>
        <td><%= link_to 'Destroy', prequal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prequal', new_prequal_path %>
