<div class="row">
	<div class="col-xs-12">
		<h1 class="text-center mar-top40">Step 1: Getting pre-qualified</h1>
		<p class="text-center col-sm-6 col-sm-offset-3 mar-top10">It only takes a few questions to know what you are pre-qualified for. Be as accurate as possible.</p>
	</div>
</div>

<div class="row prequal-form">
	<%= simple_form_for @prequal do |f| %>

	  	<%= f.input :guest_id, :as => :hidden, :input_html => { :value => params[:guest_id] } %>

	  	<div class="row">
	  		<div class="col-sm-6">
	  			<h1 class="prequalify-field">
		  			Annual Income 
		  			<span class="has-popover" data-toggle="popover" data-placement="bottom" data-content="Your annual income is what you make before taxes. Your lender will use this number to determine how much you can afford.">
		  				<i class="fa fa-question-circle"></i>
		  			</span>
	  			</h1>
	  		</div>
	  		<div class="col-sm-6">
		  		<%= f.text_field :income, label: false, data: { role: 'money'} %>
		  	</div>
		</div>

		<div class="row">
	  		<div class="col-sm-6">
	  			<h1 class="prequalify-field">
	  				Monthly Debt 
	  				<span class="has-popover" data-toggle="popover" data-placement="bottom" data-content="Include all debts with regular periodic payments such as car payments, student loans, minimum Credit Card Payments, Child Support Payments. Do NOT include any monthly rent or mortgage you are currently paying, Credit Card Payments you pay off every month.">
	  					<i class="fa fa-question-circle"></i>
	  				</span>
	  			</h1>
	  		</div>
	  		<div class="col-sm-6">
		  		<%= f.text_field :debt, label: false, data: { role: 'money'} %>
		  	</div>
		</div>

		<div class="row">
	  		<div class="col-sm-6">
	  			<h1 class="prequalify-field">
	  				Down Payment
	  				<span class="has-popover" data-toggle="popover" data-placement="bottom" data-content="Your down payment directly effects how much you can afford! If you increase your down payment, you may be able to qualify for a larger loan.">
	  					<i class="fa fa-question-circle"></i>
	  				</span>
	  			</h1>
	  		</div>
	  		<div class="col-sm-6">
		  		<%= f.text_field :down_payment, label: false, data: { role: 'money'} %>
		  	</div>
		</div>

	  <div class="form-actions mar-top50 text-center">
	    <%= f.button :submit, "Next >>", class: "btn-rbsubmit" %>
	  </div>
	<% end %>
</div>
