<div class="front-page-search-box mar-top30">
	<%= simple_form_for(@guest) do |g| %>

	  <%= g.error_notification %>

	  <%= g.simple_fields_for :queries do |q| %>
	  <div class="row">
	  		<div class="col-sm-4 col-sm-offset-2">
		  		<%= q.input :payment, label: false, placeholder: "Current Rent" %>
		  	</div>
		  	<div class="col-sm-4">
		  		<%= q.input :area_id, collection: @areas, label: false, prompt: "Choose an Area" %>
		    </div>
	  </div> <!-- /.row -->
	  <% end %>
	  <div class="clear">
	    <%= g.input :email, label: false, placeholder: "Email Address" %>
	  </div>

	  <div class="form-actions">
	    <%= g.button :submit, "Search", class: "btn-amoeba" %>
	  </div>
	<% end %>
</div>