<div class="row align-center mar-bot40">

	<% @properties.each do |property| %>

	<% if @properties.size == 3 %> 
	<div class="col-md-3">
	<% elsif @properties.size == 2 %>
	<div class="col-md-4">
	<% elsif @properties.size < 2 %>
	<div class="col-md-6">
	<% end %>

		<div class="team-member">
			<figure class="property-photo"><span><%= image_tag property.property_image.url(:full) %></span></figure>
			<div class="team-detail">
				<h4>$<%= property.payment %>/mo</h4>
				<span><%= property.address %></span><br />
				<span><%= "#{property.beds} beds, #{property.baths} baths" %></span>
			</div>
		</div>
	</div>
	<% end %>

	<% if @properties.blank? %>
	<div class="col-md-6">
		<div class="team-member">
			<figure class="property-photo"><span><%= image_tag 'no-property-result.jpg' %></span></figure>
			<h4>No results found</h4>
			<span>Try a new search...</span><br />
			<span>Or let someone help you look!</span>
		</div>
	</div>
	<% end %>

	<div class="col-md-3">
		<h4>Try a new search:</h4>
		<%= simple_form_for @query, :url => '/queries', :method => :post do |f| %>
		
		  <%= f.error_notification %>

		  <div class="form-inputs">
		    <%= f.input :guest_id, :as => :hidden %>
		    <%= f.input :payment, label: false, class: "payment-input" %>
		    <%= f.input :area_id, collection: @areas, label: false, prompt: "Choose an Area" %>
		  </div>

		  <div class="form-actions">
		    <%= f.button :submit, "Find Properties", class: "btn-amoeba" %>
		  </div>
		 <% end %>
	</div>
</div>