	<section class="results-header">
		<div class="container"> 
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					
					<div class="align-center">
						
						<h2 class="slogan"><i class="fa fa-home mar-bot20"></i>My Rent Can Buy...</h2>

					</div>
				</div>
			</div>
		</div>
	</section>	

<!-- about -->
<section id="section-about" class="section appear clearfix">
<div class="container">

		<div class="row mar-bot40">
			<div class="col-md-offset-3 col-md-6">
				<div class="section-header">
					<h3>A $<%= @query.payment %>/month mortgage in the <%= @query.area.name %> area of <%= @query.area.city %> would be able to buy: </h3>
				</div>
			</div>
		</div>

		<%= render 'results' %>

		<div class="row">

			<h2 class="text-center">Want to learn more?</h2>
			<p class="text-center">(another form here, include foreclosure list, etc)</p>
			
<!-- 			<% simple_form_for @guest, :url => '/guests/#{:id}', :method => :patch do |g| %>
				<div class="col-md-3 col-md-offset-3">
				<%= g.input :name, label: false, placeholder: "Name" %>
				</div>
				<div class="col-md-3">
				<%= g.input :email, label: false, placeholder: "Email Address" %>
				</div>
				<div class="col-md-3 col-md-offset-5 mar-top20">
				<%= g.input :foreclosures, label: "Include free foreclosure list" %>
				<%= g.input :short_sales, label: "Include free shortsale list" %>
				</div>

				<div class="form-actions clear text-center">
				    <%= g.button :submit, "Submit", class: "btn-amoeba" %>
				</div>
			<% end %> -->
		</div>
					
</div>
</section>
<!-- /about -->

<%= render 'layouts/footer' %>
