<div class="bg-cover-image container-fluid">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 content-wrapper mar-top50 mar-bot50">
			<div class="col-xs-12">
				<h1 class="text-center mar-top10">Step 3: Final Questions</h1>
			</div>

			<div class="row prequal-form mar-top70">
				<%= simple_form_for @guest do |f| %>

					<%= f.input :session_id, :as => :hidden, :input_html => { :value => request.session_options[:id] } %>

				  	<%= f.error_notification %>

					<div class="prequalify-field">
					  	<div class="row">
					  		<div class="col-xs-10 col-xs-offset-1">
					  			<h2>
						  			Are you self-employed?
						  			<span class="has-popover" data-toggle="popover" data-placement="bottom" data-content="Loans for self-employed borrowers typically require more documentation for items like your income and assets.">
						  				<i class="fa fa-question-circle"></i>
						  			</span>
					  			</h2>
				  			</div>
					  	</div>
				  		<div class="row">
					  		<%= f.input :self_employed, as: :radio_buttons, checked: false, label: false %>
					  	</div>
					</div>

					<div class="prequalify-field">
					  	<div class="row">
					  		<div class="col-xs-10 col-xs-offset-1">
					  			<h2>
						  			Have you purchased a home in the past 3 years?
						  			<span class="has-popover" data-toggle="popover" data-placement="bottom" data-content="There are special loans for first time home buyers and you may even qualify for a zero down, or very low down payment loan.">
						  				<i class="fa fa-question-circle"></i>
						  			</span>
					  			</h2>
				  			</div>
					  	</div>
				  		<div class="row">
					  		<%= f.input :first_time_buyer, as: :radio_buttons, checked: false, label: false %>
					  	</div>
					</div>

					<div class="prequalify-field">
					  	<div class="row">
					  		<div class="col-xs-10 col-xs-offset-1">
					  			<h2>
						  			Have you served in the military?
						  			<span class="has-popover" data-toggle="popover" data-placement="bottom" data-content="Veterans can earn a special zero down loan and you may qualify if you served in the active military!">
						  				<i class="fa fa-question-circle"></i>
						  			</span>
					  			</h2>
				  			</div>
					  	</div>
				  		<div class="row">
					  		<%= f.input :military, as: :radio_buttons, checked: false, label: false %>
					  	</div>
					</div>

					<div class="form-actions mar-top50 text-center">
						<%= f.button :submit, "Get My Number >>", class: "btn-rbsubmit" %>
					</div>

				<% end %>
			</div>
		</div>
	</div>
</div>
