<h1>My Rent Will Buy has generated a new lead!</h1>

<p>
	Name: <%= @prequal.name %><br />
	Email: <%= @prequal.prequal_email ? @prequal.prequal_email : @prequal.guest.email %><br />
	Phone: <%= @prequal.prequal_phone ? @prequal.prequal_phone : "none" %><br />
	Source: My Rent Will Buy
</p>
<p>
	Call or Email? <%= @prequal.yes_call ? "Call" : "Email" %><br />
	Call Time: <%= @prequal.call_time %>

</p>
<p>
	Income: <%= @prequal.income %><br />
	Monthly Debt: <%= @prequal.debt %><br />
	Down Payment: <%= @prequal.down_payment %><br />
	Self Employed: <%= @prequal.self_employed %><br />
	First Time Buyer: <%= @prequal.first_time_buyer %><br />
	Military: <%= @prequal.military %><br />
</p>
<p>
	Beds: <%= @prequal.guest.beds %><br />
	Baths: <%= @prequal.guest.baths %><br />
	Sq Ft: <%= @prequal.guest.sqft %> <br />
	Areas of town: <%= @prequal.guest.areas %><br />
</p>

<h3>Searches Completed:</h3>

<% @prequal.guest.queries.each do | query | %>
<p>
	<% if query.area && query.payment %> 
		<%= "#{query.area.name}: $#{query.payment}" %>
	<% elsif query.area.blank? && query.payment %>
		<%= "(no area specified): $#{query.payment}" %>
	<% elsif query.payment.blank? && query.area %>
		<%= "#{query.area.name}: (no payment specified)" %>
	<% elsif query.area.blank? && query.payment.blank? %>
		<%= "no area or payment specified" %>
	<% end %>
		
</p>
<% end %>