<h1>My Rent Will Buy has generated a new lead!</h1>

<p>
	Email: <%= @guest.email %><br />
	Source: My Rent Will Buy
</p>
<p>
	Beds: <%= @guest.beds %><br />
	Baths: <%= @guest.baths %><br />
	Areas of Interest: <%= @guest.areas %><br />
</p>
<p>
	Foreclosures? <%= @guest.foreclosures %><br />
	Short Sales? <%= @guest.short_sales %><br />
</p>
