<%= simple_form_for(@property) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :address, label: false, placeholder: 'Address' %>
    <%= f.input :beds, label: false, placeholder: 'Beds' %>
    <%= f.input :baths, label: false, placeholder: 'Baths' %>
    <%= f.input :payment, label: false, placeholder: 'Payment' %>
    <%= f.association :area, label: false, prompt: "Choose an Area" %>
    <div class="box-center file-upload-area">
    <%= f.file_field :property_image %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
