<p id="notice"><%= notice %></p>

<div class="container">
	<div class="row">
		<%= link_to '<- All Areas', areas_path %>
		<h1 class="text-center"><%= @area.name %></h1>
		<h4 class="text-center"><%= @area.city %>, <%= @area.state %></h4>


		<div class="text-center">
			<%= link_to 'Edit', edit_area_path(@area) %> |
			<%= link_to 'Delete', @area, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>

		<div class="col-md-6 col-md-offset-3 mar-top60">
			<p class="text-center">(insert table of <% @area.name %> properties here)</p>
		</div>
		
	</div>
</div>