
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Rentbuy" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rentbuy" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= yield(:body_id) %>" class="<%= controller_name %> <%= action_name %> <%= yield(:body_class) %> navbar-spacer">
      <%= render 'layouts/navigation' %>
      <div class="container">
        <div class="row">
          <%= render 'layouts/messages' %>
        </div>
        <div class="row">
          <%= yield %>
        </div>
      </div>
  </body>
</html>
